h1 {
  font-size: clamp(3.5em, 10vw, 10em);
  font-family: "Rubik", sans-serif;
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 50%;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  text-transform: lowercase;
}

h4 {
  font-size: clamp(1.8em, 5vw, 2.2em);
  font-weight: bold;
}

h5 {
  font-size: clamp(1.6em, 5vw, 2em);
  font-weight: bold;
}

p,
a,
li {
  font-size: 14px;
  line-height: 25px;
}

p {
  text-transform: lowercase;
}

@media (min-width: 760px) {
  h3 {
    font-size: 26px;
  }
  h2 {
    font-size: 36px;
  }
  p,
  a,
  li {
    font-size: 16px;
    line-height: 25px;
  }
}
