.content-item {
  margin: 10rem auto;
}

.content-h2 {
  text-transform: uppercase;
  padding: 2rem 0;
}

.content-p {
  margin: 1.5rem 0;
}

.no-items {
  margin: 10rem auto;
  text-align: center;
}
