footer {
  background-color: rgb(56, 56, 56);
  padding: 5rem 0;
}

.social-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100px;
  width: min(95%, 1200px);
  align-items: center;
  justify-content: space-between;
}

.social-icon {
  margin: 0 2rem;
}

.copyright {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 760px) {
  .social-footer {
    flex-direction: row;
  }
}
