.pills-container {
  width: min(95%, 760);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.pill {
  padding: 1rem 1.5rem;
  background-color: rgb(79, 79, 79);
  margin: 0 0.5rem;
}
