.banner-image {
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top {
  background-image: url("../../assets/images/banner_1.jpg");
}

.bottom {
  background-image: url("../../assets/images/banner_2.jpg");
}
